<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="iiwa7">
    <xacro:arg name="initial_positions_file" default="$(find iiwa7_moveit_config)/config/initial_positions.yaml" />

    <!-- Import iiwa7 urdf file -->
    <xacro:include filename="$(find lbr_description)/urdf/iiwa7/iiwa7.xacro.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="$(find iiwa7_moveit_config)/config/iiwa7.ros2_control.xacro" />


    <xacro:iiwa7_ros2_control name="IgnitionSystem" initial_positions_file="$(arg initial_positions_file)"/> 


    <!-- Include the ros2_control plugin 
    <gazebo>
        <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
        <parameters>$(find lbr_description)/config/iiwa7/ros2_controllers.yaml</parameters>
        </plugin>
    </gazebo> -->

</robot>
