<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="iiwa7_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="IgnitionSystem" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>

            <joint name="A1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['A1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="A2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['A2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="A3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['A3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="A4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['A4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="A5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['A5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="A6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['A6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="A7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['A7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>

        <gazebo>
          <!-- Joint state publisher -->
          <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find iiwa7_moveit_config)/config/ros2_controllers.yaml</parameters>
          </plugin>
        </gazebo>
        
    </xacro:macro>
</robot>
